body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #648880, #293f50);
}

button {
  cursor: pointer;
}
